.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 6 / 2; }
.div3 { grid-area: 1 / 5 / 2 / 6; }
.div4 { grid-area: 2 / 2 / 6 / 6; }

/* Itt van kis alap popupnak work nigger */

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(4px);
    z-index: 9999;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #111;
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    transition: 0.3s ease;
    padding: 10rem;
}

.popup.active {
    display: block;
}

.popup.active .popup-box {
    transform: translate(-50%, -50%) scale(1);
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 22px;
}

/* Daniek sponzora */

#danieksponzor {
 border: 1px solid #000 ;
}